<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Tienda{% endblock %}</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Inicio</a></li>
            
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('ver_carrito') }}">Carrito</a></li>

            {% if current_user.roles == 'admin' %}
                <li><a href="{{ url_for('nuevo_producto') }}">Nuevo Producto</a></li>
            {% endif %}

                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Registro</a></li>
            {% endif %}

        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
